<!DOCTYPE html>
<html layout:decorator="base">
<head lang="en">
    <title>Astekians form</title>

    <script src="/libs/parsley.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $( document ).ready(function() {
            $('.carousel[data-type="multi"] .item').each(function(){
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i=0;i<2;i++) {
                    next=next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${welcome}">Welcome!</h1>

    <div class="col-md-12 text-center"><h3>Upcoming events</h3></div>
    <div class="col-md-6 col-md-offset-3">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
            <div class="carousel-inner">

                <div th:each="upcomingEvent,count : ${upcomingEvents}" class="item" th:classappend="${count.index} == 1? 'active'">
                    <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/assets/images/photoNonDispo.jpg" class="img-responsive"/></a></div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
</div>
</body>
</html>